{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>AVIE - Impressum</title>
  <link rel="stylesheet" href="{% static 'css/impressum.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/handy.css' %}">
  <script src="https://kit.fontawesome.com/a7fef2ebcc.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="site-header">
  <a href="/startseite" class="logo">AVIE</a>
  
  <nav class="nav-icons">
    <a href="/suche" class="icon-link" title="Suche">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
    <a href="/profilseite" class="profil-icon" title="Profil">
      {% if user_avatar %}
        <img src="{{ user_avatar }}" alt="Profilbild" class="profile-avatar">
      {% else %}
        <img src="{% static 'img/default_avatar.png' %}" alt="Profilbild" class="profile-avatar">
      {% endif %}
    </a>
  </nav>
</header>

<div class="floating-footer">
  <a href="/logout" title="Logout"><i class="fa-solid fa-right-to-bracket"></i></a>
  </a>
  <a href="/einstellungen" title="Einstellungen">
    <i class="fa-solid fa-gear"></i>
  </a>
  <a href="/impressum" class="bottom-icon active" title="Impressum">
    <i class="fa-solid fa-circle-info"></i>
  </a>
</div>

  <main class="container">
    <h1>Impressum</h1>

    <p><strong>Angaben gemäß § 5 TMG</strong></p>
    <p>Andreas Swid<br>
    Emirhan Gülec<br>
    Isabella Kelm<br>
    S. Véronique Mörke</p>

    <p><strong>Kontakt</strong></p>
    <p>E-Mail:  <a href="mailto:info-avie@gmx.de">info-avie@gmx.de</a></p>

    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong></p>
    <p>Andreas Swid<br>
    Emirhan Gülec<br>
    Isabella Kelm<br>
    S. Véronique Mörke</p>

    <p><strong>Haftung für Inhalte</strong><br>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
  </main>

</body>

</html>
